###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.vsidx
*.log
*.bin
*.log
Zombie Human/.vs/Zombie Human/v17/fileList.bin
Zombie Human/Logs/AssetImportWorker0-prev.log
Zombie Human/Logs/AssetImportWorker0.log
Zombie Human/Logs/AssetImportWorker1-prev.log
Zombie Human/Logs/AssetImportWorker1.log
Zombie Human/Logs/shadercompiler-AssetImportWorker0.log
Zombie Human/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Zombie Human/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Zombie Human/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Zombie Human/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
Zombie Human/UserSettings/Layouts/default-2021.dwlt
